body{
    position: relative;
    background-image: url("https://i.playground.ru/p/2szMEDAOkQ7ViwktkKXKKg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.flex{
    display: flex;
    justify-content: center;
}
h1{
    color: #096ef1;
    letter-spacing: 5px;

}
.btn{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 120px;
    font-weight: 600;
    height: 50px;
    transition: 0.08s;
    border: 3px solid #096ef1;
    background-color: cornsilk;
    border-radius: 30px;
    cursor: pointer;
    margin: 35px 5px;
}
.btn1{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 120px;
    font-weight: 600;
    height: 50px;
    transition: 0.08s;
    border: 3px solid #096ef1;
    background-color: aquamarine;
    border-radius: 30px;
    cursor: pointer;
    margin: 35px 5px;
}
.link-back {
    font-size: 34px;
    color: #096ef1;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-style: italic;
}